version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: shift-db
    environment:
      POSTGRES_DB: shiftdb
      POSTGRES_USER: shiftuser
      POSTGRES_PASSWORD: shiftpass
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
